@layer layout {
  // app vars
  :root {
    --app-font: Raleway, san-serif;
    --app-font-serif: Lora, serif;
    --app-container-max-width: 1210px;
    --app-text-line-height: 1.5;
  }

  // size vars
  :root {
    $appSizeStep: 4px;
    
    @for $i from 0 through 20 {
      --app-size-#{$i}: #{$i * $appSizeStep};
    }
  }
}