---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Blockquote from '../components/Blockquote.astro';
---
<Layout title="Арт-Интерьер - Кто мы">
	<Banner 
		bg='url(/images/banner1.png)'
		title='Кто мы'
	/>
	<div class="container">
		<Blockquote author='Виталий Интерьерский'>
			Компания "Арт-Интерьер" стремится привнести вдохновение и творчество в каждый аспект создания интерьера, отражающего вашу индивидуальность.
		</Blockquote>
	</div>
</Layout>
